<mdl-layout>
  <mdl-layout-content>
    <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect" style="top:5em;">
      <div class="mdl-tabs__tab-bar">
        <a [routerLink]="['/pubsub-watch']"  class="mdl-navigation__link mdl-tabs__tab is-active">
          <mdl-icon class="mdl-color-text--primary">tab</mdl-icon>
          Subscribe / Publish / Watch
        </a>
        <a [routerLink]="['/pubsub']" class="mdl-navigation__link mdl-tabs__tab">
          <mdl-icon class="mdl-color-text--primary">tab</mdl-icon>
          Subscribe / Publish
        </a>
        <a [routerLink]="['/watch']"  class="mdl-navigation__link mdl-tabs__tab">
          <mdl-icon class="mdl-color-text--primary">tab</mdl-icon>
          Watch
        </a>
        <div class="mdl-layout-spacer"></div>
      </div>
    </div>
       <!-- style="top: 15em; width:50%;" -->
    <mdl-card
       style="top: 15em;"
       mdl-shadow="3"
       class="mdl-color--indigo-50 mdl-cell--12-col mdl-cell--3-offset-desktop mdl-cell--6-col-desktop" >

      <div class="mdl-card__content">
        <div style="text-align:center;">
          <br>
          <br>
          <br>
          <em>
            <h5>Login To Continue</h5>
          </em>
        </div>
      </div>
    </mdl-card>
  </mdl-layout-content>
</mdl-layout>
