<div class="container">
  <div class="row">
    <div class="card col-sm-4" style="margin: 1em;" >
      <subscribe></subscribe>
      <br>
      <publish></publish>
      <br>
    </div>
    <div class="col-sm-7" >
      <div class="card" style="margin: 1em; min-height: 25em;">
        <watch-mqtt-dashboard></watch-mqtt-dashboard>
        <br>
      </div>
      <div class="card" style="margin: 1em; min-height: 25em;">
        <watch-mqtt-metadata></watch-mqtt-metadata>
      </div>
    </div>
  </div>
</div>

