<div class="card-header card-primary">
  Required Fields*
</div>
<div class="card-block">
  <form #formData='ngForm' (ngSubmit)="onSubmit(formData)">
    <span class="error" *ngIf="error">{{ error }}</span>
    <label for="value">Int</label>
    <input name="value" type="number" class="form-control" [(ngModel)]="message" placeholder="A uint64 number" required>
    <p>
      <label for="text">Text</label>
      <input name="text" type="text"    class="form-control" [(ngModel)]="text"    placeholder="text" required>
    </p>
    <button type="button" [disabled]="!formData.valid" class="btn btn-primary float-right" (click)="publish(message,text)"> Publish   </button>
  </form>
</div>
