<mdl-card
   style="top:3em;"
   mdl-shadow="3"
   class="mdl-color--indigo-50 mdl-cell--12-col" >
  <div class="mdl-card__title mdl--expand">
    Publish a message
  </div>
  <div class="mdl-card__content mdl--expand">
    <form #formData="ngForm" (ngSubmit)="onSubmit(formData)">
      <mdl-textfield
         [(ngModel)]="message"
         class="form-control"
         [disabled]="(watchMqttService.state() | async) != MqttConnectionState.CONNECTED || ! watchMqttService.subscribed" 
         floating-label
         label="Integer value"
         name="value" type="number"
         placeholder="A uint64 number"
         required
         >
      </mdl-textfield>
      <mdl-textfield
         [(ngModel)]="text"
         [disabled]="(watchMqttService.state() | async) != MqttConnectionState.CONNECTED || ! watchMqttService.subscribed" 
         class="form-control"
         floating-label
         label="Text input"
         name="text" type="text"
         placeholder="text"
         required
         >
      </mdl-textfield>
      <mdl-card-actions mdl-card-border>
        <button
           mdl-button
           type="submit"
           [disabled]="!formData.valid || (watchMqttService.state() | async) != MqttConnectionState.CONNECTED || ! watchMqttService.subscribed" 
           mdl-button-type="raised"
           mdl-ripple mdl-colored="primary"
           (click)="publish(message,text)"
           float-right
           >
          Publish
        </button>
      </mdl-card-actions>
    </form>
  </div>
</mdl-card>
