<div class="card-header card-primary">
  Subscription Topic
</div>
<div class="card-block">
  <form>
    <p></p>
    <input name="topic" type="text"    class="form-control" [(ngModel)]="topic"    placeholder="subscription topic" required>
    <p></p>
    <button *ngIf="!subscribed" type="button" class="btn btn-primary float-right" (click)="subscribe(topic)">Subscribe</button>
    <p></p>
    <button *ngIf="subscribed" type="button" class="btn btn-info float-right" (click)="unsubscribe()">Unsubscribe</button>
    <p></p>
  </form>
</div>
<br><br>
<br><br>
<div class="card-header card-primary">
  Json formatted Message
</div>
<div class="card-block">
  <pre name="message" *ngIf="message">{{message | json}}</pre>
</div>

