<div class="panel-heading panel-primary">
  <div *ngIf="topic">Subscribed to topic: {{ topic }} | Json formatted Message</div> 
  <div *ngIf="!topic">Unsubscribed | Json formatted Message</div>
</div>
<div class="panel-body">
  <pre name="message" *ngIf="message">{{message | json}}</pre>
</div>


<div class="panel-heading panel-primary">
  <div *ngIf="topic">Subscribed to topic: {{ topic }} | Json formatted Message</div>
  <div *ngIf="!topic">Unsubscribed | Json formatted Message</div>
</div>
<div class="panel-body">
  <pre name="metadata" *ngIf="metadata">{{metadata | json}}</pre>
</div>

